<!DCTYPE html>
<html>
<head>
    <meta name="baidu-site-verification" content="jjvHFghXAt" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>维斯有条河</title>
            <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
            <link href="/static/img/favicon.ico" rel="SHORTCUT ICON" />
</head>
<body>
    <div class="container">
        <div class="container">
            <br><br><br><br>
            <h3 style="color:#AE0000"><strong> 维斯有条河</strong>&nbsp;&nbsp;&nbsp;&nbsp;<small>科学与耕耘</small></h3>
            <ul class="nav nav-tabs">
                <li><a href="http://vince67.github.io">Home</a></li>
            </ul>
            <div class="row">
              <div class="span8">
                  {{ content }}
              </div>
              <div class='span4'>
                {% if {{page.comments}} %}
                    <hr />
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key={{page.id}} data-title={{page.title}} data-url=vince67.github.com{{page.url}}></div>
                        <!-- 多说评论框 end -->
                        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                        <script type="text/javascript">
                          var duoshuoQuery = {short_name:"vincehasariver"};
                            (function() {
                                  var ds = document.createElement('script');
                                  ds.type = 'text/javascript';ds.async = true;
                                  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                  ds.charset = 'UTF-8';
                                  (document.getElementsByTagName('head')[0] 
                                  || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                    <!-- 多说公共JS代码 end -->
                {% endif %}

                <br />
                  <h5  align="left" ><strong>About</strong></h5>
                  <ul>
                      <li>
                          <a href="http://www.jobbole.com/members/vincent7/">
                              <img src="/static/img/link_logo/jobbole-logo.png" style="margin-left: 20px; width: 70px; height: 30px;">
                          </a>
                          <a href="http://www.v2ex.com/member/v7">
                              <img src="/static/img/link_logo/v2ex.png" style="margin-left: 10px; width: 65px; height: 20px;">
                          </a>
                          <a href="http://segmentfault.com/u/v7">
                              <img src="/static/img/link_logo/sf.png" style="margin-left: 20px; width: 90px; height: 30px;">
                          </a>
                          <a href="http://weibo.com/u/2135822193">
                              <img src="/static/img/link_logo/sina.png" style="margin-left: 20px; width: 70px; height: 30px;">
                          </a>
                      </li>
                      <li>
                      <h6>&copy;vincent yonng&nbsp;&nbsp;&nbsp;&nbsp;
                          Home:&nbsp;<a href="http://github.com/vince67/">github.com/vince67</a>&nbsp;&nbsp;
                          &nbsp;&nbsp;Blog:&nbsp;<a href="http://vince67.github.io">&nbsp;&nbsp;维斯有条河</a>
                          &nbsp;&nbsp;&nbsp;&nbsp;Email:&nbsp;<a class="email" href="mailto:nuovince@gmail.com">nuovince@gmail.com</a>
                          &nbsp;&nbsp;&nbsp;&nbsp;友情链接:&nbsp;<a href="http://zhangxiaoyang.me/">张小洋的布劳阁</a>
                          &nbsp;&nbsp;
                          <script type="text/javascript">
                          var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                          document.write(unescape("%3Cspan id='cnzz_stat_icon_1000290660'%3E%3C/span%3E%3Cscript src='" + 
                          cnzz_protocol + 
                          "s23.cnzz.com/z_stat.php%3Fid%3D1000290660%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                          </script>
                          </h6>
                      <br />
                      </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
