<!DCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
            <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {{ content }}
        <div class="panel-footer">
            <p>关于作者</p>
            <p>vince67</p>
            <p><small><a href="nuovince@gmail.com">nuovince@gmail.com</a></small></p>
            <p><small><a href="http://github.com/hueidou/">github.com/vince67</a></small></p>
        </div>
    </div>
</body>
</html>
